.wrapper-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.wrapper-buttons > * {
  margin-bottom: 10px;
}

.wrapper-buttons > *:first-child {
  margin-top: 10px;
}

.wrapper-buttons > *:last-child {
  margin-bottom: 0px;
}

.wrapper-nitro-buttons {
  margin: 0 auto !important;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  height: 45px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

button {
  color: #fff;
  transition: 100ms linear;
}



button:active {
  /*transform: translateX(0px);*/
}

button {
  outline: transparent !important;
}

button {
  background-color: #7289da;
  border: 2px solid #7289da;
}

.green {
  background-color: #43b581;
  border: 2px solid #43b581;
}

.green:hover {
  /*transform: translateY(0px);*/
  background-color: #37956b;
  border: 2px solid #37956b;
}

.red {
  background-color: #f94339;
  border: 2px solid #f94339;
}

.red:hover {
  /*transform: translateY(0px);*/
  background-color: #f82b20;
  border: 2px solid #f82b20;
}

button:hover {
  /*transform: translateY(0px);*/
  background-color: #5e77d4;
  border: 2px solid #5e77d4;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}